<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/aboutus.css">

 {{>navBar}}

<div class='page'>
    <h1 class='title'>Bio bistro about us </h1>
    <div class='centeredElements'>
        <div class='box'>
            <p style='text-align:left'>Here at Bio Bistro we strive for bringing quality bio food which has been produced locally and brings authentic taste. 
            We have a variety of items and we hope to bring you the best service we can. <br/>Our chefs are professionally trained with years of experience.
            More about our products: <br/>
            Vegetables farmed in the outskirts of Glasgow and are brought to your table fresh and delightful
            Food is produced sustainably without the use of pecticides. Our meat does not leave a carbon footprint on the climate.</p>
        </div>
        <div class='box'>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="100%" 
                    id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=Glasgow%20caledonian%20university&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>