<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/home.css">
{{>navBar}}

<div class='page'>
    <div class='centeredElements'>
     <div class='box'>
     </div>
        <div class='box'>
   
        </div>
        </div>
    </div>
</div>