<link rel="stylesheet" href="/css/events.css">

<ul class="list-group list-group-flush">
  <li class="list-group-item">{{events.date}}</li>
  <li class="list-group-item">{{events.title}}</li>
  <li class="list-group-item">{{events.description}}</li>
</ul>

{{! <p>This is some textasdlajsdklasjdlkajsldkjalksdjalksjdlkajsdlkjalksdjalksjdlkajsld.</p> }}