<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/home.css">

{{>navBar}}

<div class='page' id='home'>
    <div class='backgroundImage'>

    <h1 class='title'>{{title}}</h1>
    <div class='thinBox'>
        <h2 class='title'>Today's menu</h2>

        <div class='menu'>
        
            <div class='menuItem'>
                <h3 class='title'>Breakfast</h3>
                <p style='margin-down=100px'>{{breakfast}}</p>
            </div>
            <div class='menuItem'>
                <h3 class='title'>Lunch</h3>
                <p>{{lunch}}</p>
            </div>
            <div class='menuItem'>
                <h3 class='title'>Dinner</h3>
                <p>{{dinner}}</p>
            </div>
        </div>

    </div>
    <div class='centeredElements'>

        <div class='box'>
            <h3 class='title'>Events</h3>
            <ul>
            {{#events}}
                <li><p>
                {{date}}
                <b>{{title}}</b> <br/>
                {{description}}
                </p></li>
            {{/events}}
         </ul>

        </div>
        <div class='box' >

            <h3 class='title'>Comments</h3>
            {{#user}}
                <form method='POST' action='/comment'>
                    <input class='textInput' name='comment' type='text' placeholder='Write a comment'/>
                    <button type='submit'>Submit</button>
                </form>
            {{/user}}
            {{^user}}
                <p>Please <a href='/register'>login or register</a> to add a comment</p>
            {{/user}}
            {{>comments}}
        </div>
    </div>
</div>
</body>
