<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/home.css">
{{>navBar}}

<div class='page'>
    <h1 class='title'>{{title}}</h1>
    <div class='menuItem'>
        <h2 class='title'>Today's menu</h2>
        <div class='menu'>
            <div class='menuItem-left'>
                <h3 class='title'>Lunch</h3>
                <p>{{lunch}}</p>
            </div>
            <div class='menuItem-right'>
                <h3 class='title'>Dinner</h3>
                <p>{{dinner}}</p>
            </div>
        </div>

    </div>
<div class='centeredElements'>

     <div class='box'>
     </div>
        <div class='box'>
   
        </div>
        </div>
</div>
</body>
