<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/menu.css">
{{>navBar}}

<div class='page' >
    <nav class='menuNavBar'>
        <a href='/menu/beverages'class='menuNavbarItem'>Beverages</a>
        <a href='/menu/grill' class='menuNavbarItem'>Grill</a>
        <a href='/menu/sides' class='menuNavbarItem'>Sides</a>
        <a href='/menu/salads' class='menuNavbarItem'>Salads</a>
        <a href='/menu/vegan' class='menuNavbarItem'>Vegan</a>
        <a href='/menu/desserts' class='menuNavbarItem'>Desserts</a>
        {{#isAdmin}}
            {{! <div id='adminAddMenu'> }}
                <a class='menuNavbarItem' id='adminAddMenu' href='/menu/edit'>Add Item</a>
            {{! </div> }}
        {{/isAdmin}}
    <nav>
    <div class='menuContainer'>
    
        {{#food}}
            <div class='titleBox'>

                <div class='itemLeft'>
                    <h1 class='title'>{{name}}</h1>
                </div>
                <div class='itemRight'>
                    <h3 style='color:blue; display: inline-block'>£{{price}}</h3>
                    {{#isAdmin}}
                        <input type="checkbox"  name="disabled" {{#disabled}}checked{{/disabled}}>
                        <label for="disabled">Item disabled</label>
                    {{/isAdmin}}

                </div>
            </div>

            <div class='thinBox' >

                <div class='itemLeft'>
                    <img style='display:grid;'src={{imageUrl}} width='120' height='120' >
                </div>
                <div class='itemRight'>
                    <p> {{description}}</p>
                </div>
            </div>

        {{/food}}
    </div>

</div>