<html><head>
{{>header}}
</head>
<body>
<link rel="stylesheet" href="/css/menu.css">
{{>navBar}}

<div class='page'>
    <div class='container'>
    <div class='menuItem'>

    </div>
        <div class='menuItem'>

    </div>
        <div class='menuItem'>

    </div>
</div>