.page{
    width: 100%;
    height: 100%;
    background-color: #706255;
}

.title{
    /* font-size: 2rem; */
    font-weight: bold;
    color: #aac068;
    text-align: center;
    margin-top: 1rem;
}

.box{
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;

    display: inline-block;
    text-align: center;
}
.centeredElements{
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.menuItem{
    /* create a black rectangle with information */
    width: 70%;
    height: 25%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.menuItem-left{
    float: left;
}

.menuItem-right{
    float: right;
}

.menuItem-left, .menuItem-right{
    padding: 2rem;
}