.thinBox{
    width: 100%;
    background-color: #f4fae1;
}
.menuContainer{
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin:auto;
    height: 90%;
    background-color: #6f6051;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
}
.menuNavBar {
    max-height: 4%;
    margin: auto;
    width: 60%;
    margin-top: 1%;
    background-color: #709176;
    text-align: center;
  }
  .menuNavbarItem{
    display: inline-block;
    text-decoration: none;
    position: static;
    padding-left: 1rem;
    font: 1.2rem sans-serif;
    margin-top: 0.5%;
    /* padding: 1rem; */
    font-family: Papyrus, fantasy;

    color: white;
  }

  .menuNavbarItem:hover{
    color: black;  
  }