.navbar {
    max-height: 4%;
    right: 0; 
    left: 0;
    padding: 0.9rem;
    margin-bottom: -1%;
    background-image: linear-gradient(15deg, #79745C  0%,#787874 100%);
    text-align: center;
  }
  .navbarItem{
    display: inline-block;
  }
  
  .fa-user{
    right:0; 
    margin-right: 1%;
    position:absolute;
  }

  .rightSided{
    /* position: absolute; */
    float:right
    /* right:20; 
    top: 10; */
    /* margin-right: 1%; */
    /* vertical-align: top; */

    /* text-align: right; */

    /* float:right */
  }

  .navbar a {
    text-decoration: none;
    position: static;
    font: 1.2rem sans-serif;
    padding: 1rem;
    font-family: Papyrus, fantasy;

    color: white;
  }
  .title a:hover{
    background-color: #f7ebb8;
  }
  .navbar a:hover{
    color: black;  
  }

  .navbar img {
    padding-right: 2rem;
    max-height: 50px;
  }
  @media screen and (max-width: 600px) {
    .navbar a{
      font-size: 11px;
    }
  }